/*=========*/
 /*GLOBAL*/
/*=========*/
$myGreen: #22c064;
$myBlue: #1349a1;
$myRed: #bf503d;
$myBlack: #27282d;

@font-face 
{
    font-family: San-Francisco;
    src: url(fonts/San-Francisco/SanFranciscoDisplay-Regular.otf);
}

/* Main */
body 
{
  font-family: San-Francisco;
}

.container 
{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*End Main*/

/* Login Page */
.logoBox, #loginBox
{
	width: 100vw;

	display:table-cell;
	text-align: center;
   	vertical-align:middle;
}
.logoBox
{
	height: 20vh;
   	background-color: $myBlack;

	img { width: 40vw;}
}
#loginBox
{
	height: 70vh;

    font-family: San-Francisco;
	span{font-weight: bold}
	text-align:center;
	font-size: 20px;

	input
	{
		width: 70vw;
		height: 5vh;
		margin-bottom: 3vh;
	}
	#submitButton
	{
		background-color: $myBlack;
		color:white;
	}
}
/* End Login Page */

