<div class="logoBox">
	<img src="images/logo_login_page.png" alt="">
</div><!-- logoBox -->
<br/>
<div id="addRestaurantBox_p1" ng-controller="AddRestaurantCtrl">
  
	<span>Adresse :</span><br/>
	<input type="text" ng-model="restaurant.adress" placeholder="Adresse"/><br/><br/>

	<span>Mail :</span><br/>
	<input type="email" ng-model="restaurant.mail" placeholder="Mot de passe"/><br/><br/>

	<span>Numéro de téléphone :</span><br/>
	<input type="tel" ng-model="restaurant.mobile" placeholder="Téléphone"/><br/><br/>

 </div><!-- AddRestaurantBox_p1 -->

<br/>

 <div id="navigation">
		<i class="fa fa-chevron-left" ng-click="addRestaurant(0)"></i>
		<span>1 / 4</span>
		<i class="fa fa-chevron-right" ng-click="addRestaurant(2)"></i>
</div><!-- navigation -->